/*header*/

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Covered+By+Your+Grace&family=Fredoka+One&family=Hind:wght@600&family=Righteous&family=Rubik+Bubbles&display=swap');                                     

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

/*header*/

.cabeza {
  background-color: #5e548e;
  color: #fffcf2;
  font-family: 'Righteous', cursive;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.cabeza > .menu-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.cabeza > .menu-nav a {
  color: #fffcf2;
  text-decoration: none;

  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

/*main*/

main{
  height: 600px;
  width: 100%;

  background-image: url(https://cdn.pixabay.com/photo/2014/02/13/07/28/wordpress-265132_640.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main .form-space{
  height: 480px;
  width: 800px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  font-family: 'Hind', sans-serif;
  text-align: center;
  color: black;

  background-color: #e0b1cb;
  border-radius: 35px;
  filter: opacity(0.9);
}

.form-space h2{
  padding-bottom: 17px;
}

.form-space p{
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 13px;
}

.form-space .boton{
  background-color: #5e548e;
  color: #fffcf2;
  font-family: 'Hind', sans-serif;
  font-weight: 300;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 9px;
}

.pie{
  height: 100px;
  width: 100%;

  font-family: 'Hind', sans-serif;
  color: #fffcf2;
  background-color: #5e548e;

  display: flex;
  flex-direction: column; 
}

.copyright-socialmedia ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.opciones ul{
  display: flex;
  flex-direction: row;
  list-style: none;
} 

.opc{
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}