@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&family=Oxygen:wght@300;700&family=Playfair+Display&family=Readex+Pro:wght@400;500;700&family=Righteous&display=swap');

/*
font-family: 'Hind', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Readex Pro', sans-serif;
font-family: 'Righteous', cursive;
*/

.background-intro{
  height: 700px;
  width: 100%;
  background-image: url(https://cdn.pixabay.com/photo/2016/05/05/02/35/sky-1373167_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.filter{
  height: 700px;
  width: 100%;
  padding: 2em;
  font-family: 'Righteous', cursive;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list{
  list-style: none;
  display: flex;
  align-items: center;
}

.list a{
  color: white;
  font-size: x-large;
  letter-spacing: 2px; 
  text-decoration: none;
  padding: 1em;
}

.text{
  width: 70%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #6d6875;
}

.text h1{
  width: 70%;
  letter-spacing: 2px;
}

.text p{
  width: 100%;
  padding-top: 15px;
  letter-spacing: 1px;
  font-size: x-large;
}

.background-mixed{
  height: 750px;
  width: 100%;
  padding: 2em;
  background: linear-gradient(to top right, #6d6875, #b5838d, #e5989b, #ffb4a2, #ffcdb2)
}

.container-options1,
.container-options2{
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: red solid;
}

.card1,
.card2,
.card3,
.card4,
.card5{
  border-radius: 18px;
  height: 300px;
  width: 17%;
  border: blue solid;
}

.text-card1,
.text-card2,
.text-card3,
.text-card4,
.text-card5{
border-radius: top 18px;
height: 200px;
width: 100%;
border: black solid;
}

.background2{
  background-image: url(https://cdn.pixabay.com/photo/2020/03/21/19/27/sea-4955005_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;
}

footer{
  background-color: #6d6875;
  height: 200px;
  width: 100%;
  display: flex;
}

.logo{
  height: 100%;
  width: 30%;
  border: blue solid; 
}

.logo .block1{
  height: 60%;
  width: 100%;
  border: green solid;
}

.logo .block2{
  height: 40%;
  width: 100%;
  border: greenyellow solid;
}

.nav-container{
  height: 100%;
  width: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  border: red solid;
}

.l1,
.l2,
.l3,
.l4{
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: brown solid;
}